
.container {
  z-index: 1000;
  width: 900px;
  margin: 4rem auto;
}

.title {
  display: flex;
  flex: 1;
}

.grid-container {
  border: 1px solid black;
  border-radius: 1%;
  height: 70vh;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item-input {
  grid-column: 1 / span 4;
  grid-row: 1;
  width: 100%;
}

.value-input {
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: bolder;
  background-color: #8a8984;
  color: #fff;
  z-index: 1000;
  text-align: end;
  padding: 10px;
  grid-column: 1 / span 4;
  grid-row: 1;
  width: 100%;
}

.value-input:focus {
  outline: none;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 1%;
  cursor: pointer;
}

.grid-item-zero {
  grid-column: 1 /span 2;
  grid-row: 6;
}

.grid-item-color {
  background-color: #ed9726;
}
